$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
   margin: 0;
  display: table;
  height: 100%;
  width: 100%;
  background-color: #41B883;

  button#show-menu {
    z-index: 10;
    position: absolute;
    background-color: #fff;
    border: 0;
    color: #35495E;
    font-size: 20px;
    bottom: 0;
    width: 100%;
    button#show-menu:focus {
      outline: 0;}
  }

  .menu-wrapper {
    display: table-cell;
    vertical-align: middle;
    .menu-container {
      margin: 0px auto;
      padding: 20px 30px;
      background-color: #fff;
      box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
      transition: all .3s ease;
      font-family: Helvetica, Arial, sans-serif;
      z-index: 15;
      position: absolute;
      width: 100%;
      bottom: 0;}
    .menu-body {
      margin: 20px 0;
      text-align: center;}
    .exit {
      text-align: right;}
    .title {
      font-size: 28px;
      color: #fff;
      text-align: right;
      margin-right: 30px;
      margin-top: 27px;}
  }

}


