<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>hackaton_npm</title>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
</head>
<body>
<!--[if lt IE 10]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- TEMPLATE MILESTONES -->
<script type="text/x-template" id="project-milestones-template">
    <ul class="list-group">
        <li v-for="milestone in milestones" class="list-group-item lists-sprints" v-on:click="setMilestone($index)">
            <h3><span><b>Sprint</b> {{ milestone.name }}</span></h3><br>
            <span><b>Total Points</b> {{ milestone.total_points }}</span><br>
            <span><b>Closed Points</b> {{ milestone.closed_points }}</span><br>
            <span><b>Estimated Start</b> {{ milestone.estimated_start }}</span><br>
            <span><b>Estimated Finish</b> {{ milestone.estimated_finish }}</span><br>
            <span><b>Closed</b>
                <span v-if="milestone.closed">Yes</span>
                <span v-else>No</span>
            </span>
            <hr>
        </li>
    </ul>
</script>

<!-- TEMPLATE stories -->
<script type="text/x-template" id="milestone-stories-template">
    <ul class="list-group">
        <li v-for="story in stories" class="list-group-item lists-sprints">
            <span><b>Subject</b> {{ story.subject }}</span>
        </li>
    </ul>
</script>

<!-- TEMPLATE MENU -->
<script type="text/x-template" id="menu-template">
    <div v-show="show" transition="menu">
        <div class="menu-wrapper">
            <div class="menu-container">
                <div class="menu-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="images/list.png" @click="show = false" class="size-img"><br>
                                Sprits
                            </div>
                            <div class="col-md-4">
                                <img src="images/multiple.png" @click="show = false" class="size-img"><br>
                                Users
                            </div>
                            <div class="col-md-4">
                                <img src="images/error.png" @click="show = false" class="size-img"><br>
                                Bugs
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>


<div class="container-fluid" id="app">
    {{milestone_i}}
    <div class="row">
            <div class="col-md-4">
                <div class="content">
                    <project-milestones></project-milestones>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content">
                    <milestones-stories v-bind:milestone="milestone"></milestones-stories>
                </div>
            </div>
        <div class="col-md-4">
            <div class="content">

            </div>
        </div>

    </div>
    <div id="menu">
        <img src="">
        <button id="show-menu" @click="showMenu= true" @click="show = false">Menu</button>
        <modal :show.sync="showMenu"></modal>
    </div>
</div>
<script src="/bower_components/vue/dist/vue.js"></script>
<script src="/bower_components/vue-resource/dist/vue-resource.js"></script>

<!-- build:js scripts/main.js -->
<script src="scripts/main.js"></script>
<!-- endbuild -->
</body>
</html>
